.welcome {
    // height: 100%;
    // max-width: 330px;
    // padding: 15px;
    // margin: auto;

    .action {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
}

.bi-unlock {
    position: relative;
    right: -11px;
}
